@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main::-webkit-scrollbar {
    width: 10px;
}

.main::-webkit-scrollbar-track {
    background: linear-gradient(140deg, rgba(108, 92, 231, 1) 0%, rgba(236, 141, 129, 1) 100%);
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);

}

.main::-webkit-scrollbar-thumb {
    background: linear-gradient(140deg, rgba(108, 92, 231, 1) 0%, rgba(236, 141, 129, 1) 100%);
    border-radius: 30px;

}

.bg-main {
    background: linear-gradient(140deg, rgba(108, 92, 231, 1) 0%, rgba(236, 141, 129, 1) 100%);
}

.navbar {
    color: white !important;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8);
    filter: blur(0.3px);


}

.nav-item {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item a {
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

.navbar-brand {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 20px;
}

.nav-item:hover a {
    color: #d9fffa;
    text-shadow: 5px 4px 10px #d9fffa;
}

.homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.welcomeImg {
    object-fit: contain;
    width: 300px;
    margin-bottom: 30px;

}

#contact {
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.homepageBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightBody {
    height: auto;
}

.rightBody>img {
    object-fit: contain;
    height: 350px;
    animation: rotate 3s linear infinite alternate-reverse;

}

.homebutton {
    outline: none;
    border: none;

}

.homebutton.payus {
    background-color: #6c5ce7;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 200ms ease-in;
    margin-right: 10px;

}

.homebutton.payus:hover {
    background-color: #3b27d6;
}

.homebutton.knowmore {
    background-color: #e3e3e3;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: #432cf5;
    /* color: rgb(227, 138, 137); */
    letter-spacing: 1px;
    transition: all 200ms ease-in;



}

.homebutton.contactbtn {
    padding: 10px 20px;
    background-color: rgb(227, 138, 137);
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: #fff;
    /* color: rgb(227, 138, 137); */
    letter-spacing: 1px;
    transition: all 200ms ease-in;



}

.homebutton.knowmore:hover {
    background-color: rgb(227, 138, 137);
    /* color: #432cf5; */
    color: white;


}


@keyframes rotate {
    0% {
        transform: rotate(0.5deg);
        transform: scale(1)
    }

    50% {
        transform: rotate(2.5deg);
        transform: scale(1.01)
    }

    75% {
        transform: rotate(1.5deg);
        /* transform: scale(1.03) */
    }

    100% {
        transform: rotate(3.5deg);
        transform: scale(1.02)
    }
}

@media screen and (max-width:1000px) {
    .homepageBody {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .rightBody {
        display: none;
    }

    .leftBody {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .leftBodyInfo {
        padding: 20px;
        text-align: center;

    }
}